<form class="spec" role="form">
  <input type="hidden" id="private_id" value="{{feed.private_id}}" />
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="title">Title *</label>
        <input type="text" class="form-control" id="title" value="{{feed.title}}">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="email">Your e-mail *</label>
        <input type="email" class="form-control" id="email" value="{{feed.email}}">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="terms" value="1"> Check me out
        </label>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-success btn-publish">Publish</button>
</form>