<form class="spec" role="form">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="title">Title *</label>
        <input type="text" class="form-control input-sm" id="title" value="">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="email">Your e-mail *</label>
        <input type="text" class="form-control input-sm" id="email" value="">
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-success btn-publish">Publish</button>
</form>