{{!< layout/default}}
{{#contentFor 'body'}}
  <h2>Terms of service</h2>
  <p>
    The product is provided to you by Drupal Arenduse OÜ (reg. 11444757), Tallinn, Estonia.
  </p>
  <p>
    Subject to these Terms, we grant you a limited, non-exclusive, non-transferable, and revocable license to use our Product.
  </p>
  <h3>Acceptable Use</h3>
  <p>You agree not to engage in any of the following prohibited activities:</p>
  <ul>
    <li>Access, tamper with, or use non-public areas of the Service, our computer systems, or the technical delivery systems of our providers.</li>
    <li>Attempt to probe, scan, or test the vulnerability of any Pagetty system or network or breach any security or authentication measures.</li>
    <li>Interfere with, or attempt to interfere with, the access of any user,
      host or network, including, without limitation, sending a virus, overloading, flooding, spamming, or mail-bombing the Services.</li>
    <li>Violate any applicable law or regulation.</li>
  </ul>
  <h3>Feeds and Third-Party Content</h3>
  <p>
    The feeds that you are able to create using Pagetty can contain copyrighted
    content from third-party websites or sources that are not owned or controlled by Pagetty.

    You understand that the content of each feed is the sole responsibility of the corresponding content author.
    We do not endorse or assume any responsibility for any such third-party content.

    If you consume any third party content using Pagetty, you do so at your own risk and you agree that
    Pagetty will have no liability arising from your use of or access to any third-party content.

    Pagetty reserves the right to manupulate and change the content of any feed to unlimited extent including the right to place additional advertisements in feed content.
  </p>
  <h3>Disclaimers</h3>
  <p>
    The Product and all included content are provided on an "as is" basis without warranty of any kind, whether express or implied.
  </p>
  <p>
    PAGETTY SPECIFICALLY DISCLAIMS ANY AND ALL WARRANTIES AND CONDITIONS OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT, AND ANY WARRANTIES ARISING
    OUT OF COURSE OF DEALING OR USAGE OF TRADE.
  </p>
  <p>
    Pagetty takes no responsibility and assumes no liability for any User Content that you
    or any other user or third party posts or transmits using our Product.
  </p>
  <h3>Limitation of Liability</h3>
  <p>
    TO THE MAXIMUM EXTENT PERMITTED BY LAW, PAGETTY SHALL NOT BE LIABLE FOR ANY INDIRECT,
    INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES,
    WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, GOOD-WILL,
    OR OTHER INTANGIBLE LOSSES, RESULTING FROM (A) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE PRODUCT;
    (B) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE PRODUCT, INCLUDING WITHOUT LIMITATION,
    ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES; OR (C) UNAUTHORIZED ACCESS,
    USE OR ALTERATION OF YOUR TRANSMISSIONS OR CONTENT.
  </p>
  <h3>Changes in Terms of Service</h3>
  <p>
    Pagetty may modify or terminate the licence terms for any reason and without notice,
    including the right to terminate with or without notice, without liability to you, any other user or any third party.
  </p>
{{/contentFor}}
