.content-preview {
  margin: 40px 0 20px 0;
}
.item {
  padding: 40px;
  margin-bottom: 20px;
  background-color: #f4f8fa;
  border-top: 3px solid #bce8f1;
}
.item h3 {
  margin-top: 0;
}
.item .content {
  margin-top: 20px;
}
.tab-content {
  padding: 20px 0;
}