<!DOCTYPE html>
<html>
<head>
  <title>Pagetty</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <div class="page-header">
    <div class="container">
      <h1><a href="/">Pagetty RSS Generator</a></h1>
    </div>
  </div>
  <div class="container">
    <div class="row-fluid">
      {{{block 'body'}}}
    </div>
  </div>
  <div class="modal" id="modal">
    <div class="modal-dialog"><!-- dynamic content --></div>
  </div>
  <script type="text/javascript" src="/jquery-2.1.0.min.js"></script>
  <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/script.js"></script>
  <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29116516-1']);
      _gaq.push(['_setDomainName', 'pagetty.com']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  </script>
</body>
</html>
