<!DOCTYPE html>
<html>
<head>
  <title>Pagetty</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=687218857985229";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div class="page-header">
    <div class="container">
      <h1>
        <a href="/">Pagetty RSS Generator</a>
        <div class="pull-right">
          <div class="fb-like" data-href="http://pagetty.com" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
        </div>
        <div class="tagline">Turns any webpage into RSS feed, easily.</div>
      </h1>
    </div>
  </div>
  <div class="container">
    <div class="row-fluid">
      {{{block 'body'}}}
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="row-fluid">
        <div class="pull-right">
          <strong>Pagetty RSS Generator</strong> &mdash; <a target="_blank" href="https://twitter.com/ivonellis">Contact author</a> &mdash; <a href="/terms">Terms of service</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="modal">
    <div class="modal-dialog"><!-- dynamic content --></div>
  </div>
  <script type="text/javascript" src="/jquery-2.1.0.min.js"></script>
  <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/script.js"></script>
  <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29116516-1']);
      _gaq.push(['_setDomainName', 'pagetty.com']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  </script>
</body>
</html>
